@font-face {
	font-family: "Socicon";
	font-style: normal;
	font-weight: normal;
	src:
		url("https://static.tumblr.com/2wliono/acwpab32h/socicon.eot#iefix") format('embedded-opentype'),
		url("https://static.tumblr.com/2wliono/Cmzpab359/socicon.woff2") format('woff2'),
		url("https://static.tumblr.com/2wliono/UYLpab36c/socicon.woff") format('woff'),
		url("https://static.tumblr.com/2wliono/Mmjpab36x/socicon.ttf") format('truetype'),
		url("https://static.tumblr.com/2wliono/Qr1pab37i/socicon.svg#Socicon") format('svg');
}

nav > a[href="/internet"], nav > a[href="/moddb"], nav > a[href="/indiedb"], nav > a[href="/traxsource"], nav > a[href="/gamefor"], nav > a[href="/pixiv"], nav > a[href="/myanimelist"], nav > a[href="/blackberry"], nav > a[href="/wickr"], nav > a[href="/spip"], nav > a[href="/napster"], nav > a[href="/beatport"], nav > a[href="/hackerone"], nav > a[href="/hackernews"], nav > a[href="/smashwords"], nav > a[href="/kobo"], nav > a[href="/bookbub"], nav > a[href="/mailru"], nav > a[href="/gitlab"], nav > a[href="/instructables"], nav > a[href="/portfolio"], nav > a[href="/codered"], nav > a[href="/origin"], nav > a[href="/nextdoor"], nav > a[href="/udemy"], nav > a[href="/livemaster"], nav > a[href="/crunchbase"], nav > a[href="/homefy"], nav > a[href="/calendly"], nav > a[href="/realtor"], nav > a[href="/tidal"], nav > a[href="/qobuz"], nav > a[href="/natgeo"], nav > a[href="/mastodon"], nav > a[href="/unsplash"], nav > a[href="/homeadvisor"], nav > a[href="/angieslist"], nav > a[href="/codepen"], nav > a[href="/slack"], nav > a[href="/openaigym"], nav > a[href="/logmein"], nav > a[href="/fiverr"], nav > a[href="/gotomeeting"], nav > a[href="/aliexpress"], nav > a[href="/guru"], nav > a[href="/appstore"], nav > a[href="/homes"], nav > a[href="/zoom"], nav > a[href="/alibaba"], nav > a[href="/craigslist"], nav > a[href="/wix"], nav > a[href="/redfin"], nav > a[href="/googlecalendar"], nav > a[href="/shopify"], nav > a[href="/freelancer"], nav > a[href="/seedrs"], nav > a[href="/bing"], nav > a[href="/doodle"], nav > a[href="/bonanza"], nav > a[href="/squarespace"], nav > a[href="/toptal"], nav > a[href="/gust"], nav > a[href="/trulia"], nav > a[href="/loomly"], nav > a[href="/ghost"], nav > a[href="/upwork"], nav > a[href="/fundable"], nav > a[href="/booking"], nav > a[href="/googlemaps"], nav > a[href="/zillow"], nav > a[href="/niconico"], nav > a[href="/toneden"], nav > a[href="/augment"], nav > a[href="/bitbucket"], nav > a[href="/fyuse"], nav > a[href="/yt-gaming"], nav > a[href="/sketchfab"], nav > a[href="/mobcrush"], nav > a[href="/microsoft"], nav > a[href="/pandora"], nav > a[href="/messenger"], nav > a[href="/gamewisp"], nav > a[href="/bloglovin"], nav > a[href="/tunein"], nav > a[href="/gamejolt"], nav > a[href="/trello"], nav > a[href="/spreadshirt"], nav > a[href="/500px"], nav > a[href="/8tracks"], nav > a[href="/airbnb"], nav > a[href="/alliance"], nav > a[href="/amazon"], nav > a[href="/amplement"], nav > a[href="/android"], nav > a[href="/angellist"], nav > a[href="/apple"], nav > a[href="/appnet"], nav > a[href="/baidu"], nav > a[href="/bandcamp"], nav > a[href="/battlenet"], nav > a[href="/mixer"], nav > a[href="/bebee"], nav > a[href="/bebo"], nav > a[href="/behance"], nav > a[href="/blizzard"], nav > a[href="/blogger"], nav > a[href="/buffer"], nav > a[href="/chrome"], nav > a[href="/coderwall"], nav > a[href="/curse"], nav > a[href="/dailymotion"], nav > a[href="/deezer"], nav > a[href="/delicious"], nav > a[href="/deviantart"], nav > a[href="/diablo"], nav > a[href="/digg"], nav > a[href="/discord"], nav > a[href="/disqus"], nav > a[href="/douban"], nav > a[href="/draugiem"], nav > a[href="/dribbble"], nav > a[href="/drupal"], nav > a[href="/ebay"], nav > a[href="/ello"], nav > a[href="/endomodo"], nav > a[href="/envato"], nav > a[href="/etsy"], nav > a[href="/facebook"], nav > a[href="/feedburner"], nav > a[href="/filmweb"], nav > a[href="/firefox"], nav > a[href="/flattr"], nav > a[href="/flickr"], nav > a[href="/formulr"], nav > a[href="/forrst"], nav > a[href="/foursquare"], nav > a[href="/friendfeed"], nav > a[href="/github"], nav > a[href="/goodreads"], nav > a[href="/google"], nav > a[href="/googlescholar"], nav > a[href="/googlegroups"], nav > a[href="/googlephotos"], nav > a[href="/googleplus"], nav > a[href="/grooveshark"], nav > a[href="/hackerrank"], nav > a[href="/hearthstone"], nav > a[href="/hellocoton"], nav > a[href="/heroes"], nav > a[href="/smashcast"], nav > a[href="/horde"], nav > a[href="/houzz"], nav > a[href="/icq"], nav > a[href="/identica"], nav > a[href="/imdb"], nav > a[href="/instagram"], nav > a[href="/issuu"], nav > a[href="/istock"], nav > a[href="/itunes"], nav > a[href="/keybase"], nav > a[href="/lanyrd"], nav > a[href="/lastfm"], nav > a[href="/line"], nav > a[href="/linkedin"], nav > a[href="/livejournal"], nav > a[href="/lyft"], nav > a[href="/macos"], nav > a[href="/mail"], nav > a[href="/medium"], nav > a[href="/meetup"], nav > a[href="/mixcloud"], nav > a[href="/modelmayhem"], nav > a[href="/mumble"], nav > a[href="/myspace"], nav > a[href="/newsvine"], nav > a[href="/nintendo"], nav > a[href="/npm"], nav > a[href="/odnoklassniki"], nav > a[href="/openid"], nav > a[href="/opera"], nav > a[href="/outlook"], nav > a[href="/overwatch"], nav > a[href="/patreon"], nav > a[href="/paypal"], nav > a[href="/periscope"], nav > a[href="/persona"], nav > a[href="/pinterest"], nav > a[href="/play"], nav > a[href="/player"], nav > a[href="/playstation"], nav > a[href="/pocket"], nav > a[href="/qq"], nav > a[href="/quora"], nav > a[href="/raidcall"], nav > a[href="/ravelry"], nav > a[href="/reddit"], nav > a[href="/renren"], nav > a[href="/researchgate"], nav > a[href="/residentadvisor"], nav > a[href="/reverbnation"], nav > a[href="/rss"], nav > a[href="/sharethis"], nav > a[href="/skype"], nav > a[href="/slideshare"], nav > a[href="/smugmug"], nav > a[href="/snapchat"], nav > a[href="/songkick"], nav > a[href="/soundcloud"], nav > a[href="/spotify"], nav > a[href="/stackexchange"], nav > a[href="/stackoverflow"], nav > a[href="/starcraft"], nav > a[href="/stayfriends"], nav > a[href="/steam"], nav > a[href="/storehouse"], nav > a[href="/strava"], nav > a[href="/streamjar"], nav > a[href="/stumbleupon"], nav > a[href="/swarm"], nav > a[href="/teamspeak"], nav > a[href="/teamviewer"], nav > a[href="/technorati"], nav > a[href="/telegram"], nav > a[href="/tripadvisor"], nav > a[href="/tripit"], nav > a[href="/triplej"], nav > a[href="/tumblr"], nav > a[href="/twitch"], nav > a[href="/twitter"], nav > a[href="/uber"], nav > a[href="/ventrilo"], nav > a[href="/viadeo"], nav > a[href="/viber"], nav > a[href="/viewbug"], nav > a[href="/vimeo"], nav > a[href="/vine"], nav > a[href="/vkontakte"], nav > a[href="/warcraft"], nav > a[href="/wechat"], nav > a[href="/weibo"], nav > a[href="/whatsapp"], nav > a[href="/wikipedia"], nav > a[href="/windows"], nav > a[href="/wordpress"], nav > a[href="/wykop"], nav > a[href="/xbox"], nav > a[href="/xing"], nav > a[href="/yahoo"], nav > a[href="/yammer"], nav > a[href="/yandex"], nav > a[href="/yelp"], nav > a[href="/younow"], nav > a[href="/youtube"], nav > a[href="/zapier"], nav > a[href="/zerply"], nav > a[href="/zomato"], nav > a[href="/zynga"] {
	display: block;
	border-radius: 2em;
	margin: 1em;
	padding: 0.5em;
	color: white;
	font-weight: normal;
}

nav > a::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "Socicon" !important;
	font-size: 1.2em;
	font-weight: normal;
	font-variant: normal;
	line-height: 1em;
	text-transform: none;
	vertical-align: text-top;
	float: left;
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav > a[href="/500px"] { background-color: #58a9de; }
nav > a[href="/8tracks"] { background-color: #122c4b; }
nav > a[href="/airbnb"] { background-color: #ff5a5f; }
nav > a[href="/alliance"] { background-color: #144587; }
nav > a[href="/amazon"] { background-color: #ff9900; }
nav > a[href="/amplement"] { background-color: #0996c3; }
nav > a[href="/android"] { background-color: #8ec047; }
nav > a[href="/angellist"] { background-color: #000000; }
nav > a[href="/apple"] { background-color: #b9bfc1; }
nav > a[href="/appnet"] { background-color: #494949; }
nav > a[href="/baidu"] { background-color: #2629d9; }
nav > a[href="/bandcamp"] { background-color: #619aa9; }
nav > a[href="/battlenet"] { background-color: #0096cd; }
nav > a[href="/mixer"] { background-color: #1fbaed; }
nav > a[href="/bebee"] { background-color: #f28f16; }
nav > a[href="/bebo"] { background-color: #ef1011; }
nav > a[href="/behance"] { background-color: #000000; }
nav > a[href="/blizzard"] { background-color: #01b2f1; }
nav > a[href="/blogger"] { background-color: #ec661c; }
nav > a[href="/buffer"] { background-color: #000000; }
nav > a[href="/chrome"] { background-color: #757575; }
nav > a[href="/coderwall"] { background-color: #3e8dcc; }
nav > a[href="/curse"] { background-color: #f26522; }
nav > a[href="/dailymotion"] { background-color: #004e72; }
nav > a[href="/deezer"] { background-color: #32323d; }
nav > a[href="/delicious"] { background-color: #020202; }
nav > a[href="/deviantart"] { background-color: #c5d200; }
nav > a[href="/diablo"] { background-color: #8b1209; }
nav > a[href="/digg"] { background-color: #1d1d1b; }
nav > a[href="/discord"] { background-color: #7289da; }
nav > a[href="/disqus"] { background-color: #2e9fff; }
nav > a[href="/douban"] { background-color: #3ca353; }
nav > a[href="/draugiem"] { background-color: #ffa32b; }
nav > a[href="/dribbble"] { background-color: #e84d88; }
nav > a[href="/drupal"] { background-color: #00598e; }
nav > a[href="/ebay"] { background-color: #333333; }
nav > a[href="/ello"] { background-color: #000000; }
nav > a[href="/endomondo"] { background-color: #86ad00; }
nav > a[href="/envato"] { background-color: #597c3a; }
nav > a[href="/etsy"] { background-color: #f56400; }
nav > a[href="/facebook"] { background-color: #3e5b98; }
nav > a[href="/feedburner"] { background-color: #ffcc00; }
nav > a[href="/filmweb"] { background-color: #ffc404; }
nav > a[href="/firefox"] { background-color: #484848; }
nav > a[href="/flattr"] { background-color: #f67c1a; }
nav > a[href="/flickr"] { background-color: #1e1e1b; }
nav > a[href="/formulr"] { background-color: #ff5a60; }
nav > a[href="/forrst"] { background-color: #5b9a68; }
nav > a[href="/foursquare"] { background-color: #f94877; }
nav > a[href="/friendfeed"] { background-color: #2f72c4; }
nav > a[href="/github"] { background-color: #221e1b; }
nav > a[href="/goodreads"] { background-color: #463020; }
nav > a[href="/google"] { background-color: #4285f4; }
nav > a[href="/googlegroups"] { background-color: #4f8ef5; }
nav > a[href="/googlephotos"] { background-color: #212121; }
nav > a[href="/googleplus"] { background-color: #dd4b39; }
nav > a[href="/googlescholar"] { background-color: #4285f4; }
nav > a[href="/grooveshark"] { background-color: #000000; }
nav > a[href="/hackerrank"] { background-color: #2ec866; }
nav > a[href="/hearthstone"] { background-color: #ec9313; }
nav > a[href="/hellocoton"] { background-color: #d30d66; }
nav > a[href="/heroes"] { background-color: #2397f7; }
nav > a[href="/hitbox"] { background-color: #99cc00; }
nav > a[href="/horde"] { background-color: #84121c; }
nav > a[href="/houzz"] { background-color: #7cc04b; }
nav > a[href="/icq"] { background-color: #7ebd00; }
nav > a[href="/identica"] { background-color: #000000; }
nav > a[href="/imdb"] { background-color: #e8ba00; }
nav > a[href="/instagram"] { background-color: #000000; }
nav > a[href="/issuu"] { background-color: #f26f61; }
nav > a[href="/istock"] { background-color: #000000; }
nav > a[href="/itunes"] { background-color: #ff5e51; }
nav > a[href="/keybase"] { background-color: #ff7100; }
nav > a[href="/lanyrd"] { background-color: #3c80c9; }
nav > a[href="/lastfm"] { background-color: #d41316; }
nav > a[href="/line"] { background-color: #00b901; }
nav > a[href="/linkedin"] { background-color: #3371b7; }
nav > a[href="/livejournal"] { background-color: #0099cc; }
nav > a[href="/lyft"] { background-color: #ff00bf; }
nav > a[href="/macos"] { background-color: #000000; }
nav > a[href="/mail"] { background-color: #000000; }
nav > a[href="/medium"] { background-color: #000000; }
nav > a[href="/meetup"] { background-color: #e2373c; }
nav > a[href="/mixcloud"] { background-color: #000000; }
nav > a[href="/modelmayhem"] { background-color: #000000; }
nav > a[href="/mumble"] { background-color: #5ab5d1; }
nav > a[href="/myspace"] { background-color: #323232; }
nav > a[href="/newsvine"] { background-color: #075b2f; }
nav > a[href="/nintendo"] { background-color: #f58a33; }
nav > a[href="/npm"] { background-color: #c12127; }
nav > a[href="/odnoklassniki"] { background-color: #f48420; }
nav > a[href="/openid"] { background-color: #f78c40; }
nav > a[href="/opera"] { background-color: #ff1b2d; }
nav > a[href="/outlook"] { background-color: #0072c6; }
nav > a[href="/overwatch"] { background-color: #9e9e9e; }
nav > a[href="/patreon"] { background-color: #f96854; }
nav > a[href="/paypal"] { background-color: #009cde; }
nav > a[href="/periscope"] { background-color: #3aa4c6; }
nav > a[href="/persona"] { background-color: #e6753d; }
nav > a[href="/pinterest"] { background-color: #c92619; }
nav > a[href="/play"] { background-color: #000000; }
nav > a[href="/player"] { background-color: #6e41bd; }
nav > a[href="/playstation"] { background-color: #000000; }
nav > a[href="/pocket"] { background-color: #ed4055; }
nav > a[href="/qq"] { background-color: #4297d3; }
nav > a[href="/quora"] { background-color: #cb202d; }
nav > a[href="/raidcall"] { background-color: #073558; }
nav > a[href="/ravelry"] { background-color: #b6014c; }
nav > a[href="/reddit"] { background-color: #e74a1e; }
nav > a[href="/renren"] { background-color: #2266b0; }
nav > a[href="/researchgate"] { background-color: #00ccbb; }
nav > a[href="/residentadvisor"] { background-color: #b3be1b; }
nav > a[href="/reverbnation"] { background-color: #000000; }
nav > a[href="/rss"] { background-color: #f26109; }
nav > a[href="/sharethis"] { background-color: #01bf01; }
nav > a[href="/skype"] { background-color: #28abe3; }
nav > a[href="/slideshare"] { background-color: #4ba3a6; }
nav > a[href="/smugmug"] { background-color: #acfd32; }
nav > a[href="/snapchat"] { background-color: #fffa37; }
nav > a[href="/songkick"] { background-color: #f80046; }
nav > a[href="/soundcloud"] { background-color: #fe3801; }
nav > a[href="/spotify"] { background-color: #7bb342; }
nav > a[href="/stackexchange"] { background-color: #2f2f2f; }
nav > a[href="/stackoverflow"] { background-color: #fd9827; }
nav > a[href="/starcraft"] { background-color: #002250; }
nav > a[href="/stayfriends"] { background-color: #f08a1c; }
nav > a[href="/steam"] { background-color: #171a21; }
nav > a[href="/storehouse"] { background-color: #25b0e6; }
nav > a[href="/strava"] { background-color: #fc4c02; }
nav > a[href="/streamjar"] { background-color: #503a60; }
nav > a[href="/stumbleupon"] { background-color: #e64011; }
nav > a[href="/swarm"] { background-color: #fc9d3c; }
nav > a[href="/teamspeak"] { background-color: #465674; }
nav > a[href="/teamviewer"] { background-color: #168ef4; }
nav > a[href="/technorati"] { background-color: #5cb030; }
nav > a[href="/telegram"] { background-color: #0088cc; }
nav > a[href="/tripadvisor"] { background-color: #4b7e37; }
nav > a[href="/tripit"] { background-color: #1982c3; }
nav > a[href="/triplej"] { background-color: #e53531; }
nav > a[href="/tumblr"] { background-color: #45556c; }
nav > a[href="/twitch"] { background-color: #6441a5; }
nav > a[href="/twitter"] { background-color: #4da7de; }
nav > a[href="/uber"] { background-color: #000000; }
nav > a[href="/ventrilo"] { background-color: #77808a; }
nav > a[href="/viadeo"] { background-color: #e4a000; }
nav > a[href="/viber"] { background-color: #7b519d; }
nav > a[href="/viewbug"] { background-color: #2b9fcf; }
nav > a[href="/vimeo"] { background-color: #51b5e7; }
nav > a[href="/vine"] { background-color: #00b389; }
nav > a[href="/vkontakte"] { background-color: #5a7fa6; }
nav > a[href="/warcraft"] { background-color: #1eb10a; }
nav > a[href="/wechat"] { background-color: #09b507; }
nav > a[href="/weibo"] { background-color: #e31c34; }
nav > a[href="/whatsapp"] { background-color: #20b038; }
nav > a[href="/wikipedia"] { background-color: #000000; }
nav > a[href="/windows"] { background-color: #00bdf6; }
nav > a[href="/wordpress"] { background-color: #464646; }
nav > a[href="/wykop"] { background-color: #328efe; }
nav > a[href="/xbox"] { background-color: #92c83e; }
nav > a[href="/xing"] { background-color: #005a60; }
nav > a[href="/yahoo"] { background-color: #6e2a85; }
nav > a[href="/yammer"] { background-color: #1175c4; }
nav > a[href="/yandex"] { background-color: #ff0000; }
nav > a[href="/yelp"] { background-color: #c83218; }
nav > a[href="/younow"] { background-color: #61c03e; }
nav > a[href="/youtube"] { background-color: #e02a20; }
nav > a[href="/zapier"] { background-color: #ff4a00; }
nav > a[href="/zerply"] { background-color: #9dbc7a; }
nav > a[href="/zomato"] { background-color: #cb202d; }
nav > a[href="/zynga"] { background-color: #dc0606; }
nav > a[href="/spreadshirt"] { background-color: #00b2a6; }
nav > a[href="/trello"] { background-color: #0079bf; }
nav > a[href="/gamejolt"] { background-color: #191919; }
nav > a[href="/tunein"] { background-color: #36b4a7; }
nav > a[href="/bloglovin"] { background-color: #000000; }
nav > a[href="/gamewisp"] { background-color: #f8a853; }
nav > a[href="/messenger"] { background-color: #0084ff; }
nav > a[href="/pandora"] { background-color: #224099; }
nav > a[href="/microsoft"] { background-color: #666666; }
nav > a[href="/mobcrush"] { background-color: #ffee00; }
nav > a[href="/sketchfab"] { background-color: #00a5d6; }
nav > a[href="/yt-gaming"] { background-color: #e91d00; }
nav > a[href="/fyuse"] { background-color: #ff3143; }
nav > a[href="/bitbucket"] { background-color: #243759; }
nav > a[href="/augment"] { background-color: #e71204; }
nav > a[href="/toneden"] { background-color: #777bf9; }
nav > a[href="/niconico"] { background-color: #000000; }
nav > a[href="/zillow"] { background-color: #0074e4; }
nav > a[href="/googlemaps"] { background-color: #4285f4; }
nav > a[href="/booking"] { background-color: #003580; }
nav > a[href="/fundable"] { background-color: #1d181f; }
nav > a[href="/upwork"] { background-color: #5bbc2f; }
nav > a[href="/ghost"] { background-color: #33393c; }
nav > a[href="/loomly"] { background-color: #00425f; }
nav > a[href="/trulia"] { background-color: #20bf63; }
nav > a[href="/gust"] { background-color: #1e2e3e; }
nav > a[href="/toptal"] { background-color: #4c73aa; }
nav > a[href="/squarespace"] { background-color: #121212; }
nav > a[href="/bonanza"] { background-color: #62764a; }
nav > a[href="/doodle"] { background-color: #0064dc; }
nav > a[href="/bing"] { background-color: #008485; }
nav > a[href="/seedrs"] { background-color: #7fbb31; }
nav > a[href="/freelancer"] { background-color: #0088ca; }
nav > a[href="/shopify"] { background-color: #5c6ac4; }
nav > a[href="/googlecalendar"] { background-color: #3d81f6; }
nav > a[href="/redfin"] { background-color: #c82022; }
nav > a[href="/wix"] { background-color: #0096ff; }
nav > a[href="/craigslist"] { background-color: #561a8b; }
nav > a[href="/alibaba"] { background-color: #ff6a00; }
nav > a[href="/zoom"] { background-color: #2d8cff; }
nav > a[href="/homes"] { background-color: #f7841b; }
nav > a[href="/appstore"] { background-color: #007aff; }
nav > a[href="/guru"] { background-color: #4c81c0; }
nav > a[href="/aliexpress"] { background-color: #e92c00; }
nav > a[href="/gotomeeting"] { background-color: #fd7a2b; }
nav > a[href="/fiverr"] { background-color: #0db62a; }
nav > a[href="/logmein"] { background-color: #45b6f3; }
nav > a[href="/openaigym"] { background-color: #29a8b3; }
nav > a[href="/slack"] { background-color: #4b6bc6; }
nav > a[href="/codepen"] { background-color: #000000; }
nav > a[href="/angieslist"] { background-color: #299f37; }
nav > a[href="/homeadvisor"] { background-color: #ef8b1d; }
nav > a[href="/unsplash"] { background-color: #000000; }
nav > a[href="/mastodon"] { background-color: #2986d6; }
nav > a[href="/natgeo"] { background-color: #222222; }
nav > a[href="/qobuz"] { background-color: #298fbf; }
nav > a[href="/tidal"] { background-color: #01ffff; }
nav > a[href="/realtor"] { background-color: #d52228; }
nav > a[href="/calendly"] { background-color: #00a3fa; }
nav > a[href="/homify"] { background-color: #7dcda3; }
nav > a[href="/crunchbase"] { background-color: #0288d1; }
nav > a[href="/livemaster"] { background-color: #e76d00; }
nav > a[href="/udemy"] { background-color: #17aa1c; }
nav > a[href="/nextdoor"] { background-color: #01b247; }
nav > a[href="/origin"] { background-color: #f56c2e; }
nav > a[href="/codered"] { background-color: #ff033b; }
nav > a[href="/portfolio"] { background-color: #54afff; }
nav > a[href="/instructables"] { background-color: #f8b514; }
nav > a[href="/gitlab"] { background-color: #e65228; }
nav > a[href="/mailru"] { background-color: #fda840; }
nav > a[href="/bookbub"] { background-color: #e70005; }
nav > a[href="/kobo"] { background-color: #bf0000; }
nav > a[href="/smashwords"] { background-color: #4181c3; }
nav > a[href="/hackernews"] { background-color: #ff6601; }
nav > a[href="/hackerone"] { background-color: #ec1075; }
nav > a[href="/beatport"] { background-color: #94d500; }
nav > a[href="/napster"] { background-color: #000000; }
nav > a[href="/spip"] { background-color: #e00d6f; }
nav > a[href="/wickr"] { background-color: #f29100; }
nav > a[href="/blackberry"] { background-color: #000000; }
nav > a[href="/myanimelist"] { background-color: #2e51a2; }
nav > a[href="/pixiv"] { background-color: #049cff; }
nav > a[href="/gamefor"] { background-color: #506f82; }
nav > a[href="/traxsource"] { background-color: #40a0ff; }
nav > a[href="/indiedb"] { background-color: #77c628; }
nav > a[href="/moddb"] { background-color: #cc0300; }
nav > a[href="/internet"] { background-color: #000000; }

nav > a[href="/internet"]::before { content: "\e957"; }
nav > a[href="/moddb"]::before { content: "\e94b"; }
nav > a[href="/indiedb"]::before { content: "\e94c"; }
nav > a[href="/traxsource"]::before { content: "\e94d"; }
nav > a[href="/gamefor"]::before { content: "\e94e"; }
nav > a[href="/pixiv"]::before { content: "\e94f"; }
nav > a[href="/myanimelist"]::before { content: "\e950"; }
nav > a[href="/blackberry"]::before { content: "\e951"; }
nav > a[href="/wickr"]::before { content: "\e952"; }
nav > a[href="/spip"]::before { content: "\e953"; }
nav > a[href="/napster"]::before { content: "\e954"; }
nav > a[href="/beatport"]::before { content: "\e955"; }
nav > a[href="/hackerone"]::before { content: "\e956"; }
nav > a[href="/hackernews"]::before { content: "\e946"; }
nav > a[href="/smashwords"]::before { content: "\e947"; }
nav > a[href="/kobo"]::before { content: "\e948"; }
nav > a[href="/bookbub"]::before { content: "\e949"; }
nav > a[href="/mailru"]::before { content: "\e94a"; }
nav > a[href="/gitlab"]::before { content: "\e945"; }
nav > a[href="/instructables"]::before { content: "\e944"; }
nav > a[href="/portfolio"]::before { content: "\e943"; }
nav > a[href="/codered"]::before { content: "\e940"; }
nav > a[href="/origin"]::before { content: "\e941"; }
nav > a[href="/nextdoor"]::before { content: "\e942"; }
nav > a[href="/udemy"]::before { content: "\e93f"; }
nav > a[href="/livemaster"]::before { content: "\e93e"; }
nav > a[href="/crunchbase"]::before { content: "\e93b"; }
nav > a[href="/homefy"]::before { content: "\e93c"; }
nav > a[href="/calendly"]::before { content: "\e93d"; }
nav > a[href="/realtor"]::before { content: "\e90f"; }
nav > a[href="/tidal"]::before { content: "\e910"; }
nav > a[href="/qobuz"]::before { content: "\e911"; }
nav > a[href="/natgeo"]::before { content: "\e912"; }
nav > a[href="/mastodon"]::before { content: "\e913"; }
nav > a[href="/unsplash"]::before { content: "\e914"; }
nav > a[href="/homeadvisor"]::before { content: "\e915"; }
nav > a[href="/angieslist"]::before { content: "\e916"; }
nav > a[href="/codepen"]::before { content: "\e917"; }
nav > a[href="/slack"]::before { content: "\e918"; }
nav > a[href="/openaigym"]::before { content: "\e919"; }
nav > a[href="/logmein"]::before { content: "\e91a"; }
nav > a[href="/fiverr"]::before { content: "\e91b"; }
nav > a[href="/gotomeeting"]::before { content: "\e91c"; }
nav > a[href="/aliexpress"]::before { content: "\e91d"; }
nav > a[href="/guru"]::before { content: "\e91e"; }
nav > a[href="/appstore"]::before { content: "\e91f"; }
nav > a[href="/homes"]::before { content: "\e920"; }
nav > a[href="/zoom"]::before { content: "\e921"; }
nav > a[href="/alibaba"]::before { content: "\e922"; }
nav > a[href="/craigslist"]::before { content: "\e923"; }
nav > a[href="/wix"]::before { content: "\e924"; }
nav > a[href="/redfin"]::before { content: "\e925"; }
nav > a[href="/googlecalendar"]::before { content: "\e926"; }
nav > a[href="/shopify"]::before { content: "\e927"; }
nav > a[href="/freelancer"]::before { content: "\e928"; }
nav > a[href="/seedrs"]::before { content: "\e929"; }
nav > a[href="/bing"]::before { content: "\e92a"; }
nav > a[href="/doodle"]::before { content: "\e92b"; }
nav > a[href="/bonanza"]::before { content: "\e92c"; }
nav > a[href="/squarespace"]::before { content: "\e92d"; }
nav > a[href="/toptal"]::before { content: "\e92e"; }
nav > a[href="/gust"]::before { content: "\e92f"; }
nav > a[href="/trulia"]::before { content: "\e931"; }
nav > a[href="/loomly"]::before { content: "\e932"; }
nav > a[href="/ghost"]::before { content: "\e933"; }
nav > a[href="/upwork"]::before { content: "\e934"; }
nav > a[href="/fundable"]::before { content: "\e935"; }
nav > a[href="/booking"]::before { content: "\e936"; }
nav > a[href="/googlemaps"]::before { content: "\e937"; }
nav > a[href="/zillow"]::before { content: "\e938"; }
nav > a[href="/niconico"]::before { content: "\e939"; }
nav > a[href="/toneden"]::before { content: "\e93a"; }
nav > a[href="/augment"]::before { content: "\e908"; }
nav > a[href="/bitbucket"]::before { content: "\e909"; }
nav > a[href="/fyuse"]::before { content: "\e90a"; }
nav > a[href="/yt-gaming"]::before { content: "\e90b"; }
nav > a[href="/sketchfab"]::before { content: "\e90c"; }
nav > a[href="/mobcrush"]::before { content: "\e90d"; }
nav > a[href="/microsoft"]::before { content: "\e90e"; }
nav > a[href="/pandora"]::before { content: "\e907"; }
nav > a[href="/messenger"]::before { content: "\e906"; }
nav > a[href="/gamewisp"]::before { content: "\e905"; }
nav > a[href="/bloglovin"]::before { content: "\e904"; }
nav > a[href="/tunein"]::before { content: "\e903"; }
nav > a[href="/gamejolt"]::before { content: "\e901"; }
nav > a[href="/trello"]::before { content: "\e902"; }
nav > a[href="/spreadshirt"]::before { content: "\e900"; }
nav > a[href="/500px"]::before { content: "\e000"; }
nav > a[href="/8tracks"]::before { content: "\e001"; }
nav > a[href="/airbnb"]::before { content: "\e002"; }
nav > a[href="/alliance"]::before { content: "\e003"; }
nav > a[href="/amazon"]::before { content: "\e004"; }
nav > a[href="/amplement"]::before { content: "\e005"; }
nav > a[href="/android"]::before { content: "\e006"; }
nav > a[href="/angellist"]::before { content: "\e007"; }
nav > a[href="/apple"]::before { content: "\e008"; }
nav > a[href="/appnet"]::before { content: "\e009"; }
nav > a[href="/baidu"]::before { content: "\e00a"; }
nav > a[href="/bandcamp"]::before { content: "\e00b"; }
nav > a[href="/battlenet"]::before { content: "\e00c"; }
nav > a[href="/mixer"]::before { content: "\e00d"; }
nav > a[href="/bebee"]::before { content: "\e00e"; }
nav > a[href="/bebo"]::before { content: "\e00f"; }
nav > a[href="/behance"]::before { content: "\e010"; }
nav > a[href="/blizzard"]::before { content: "\e011"; }
nav > a[href="/blogger"]::before { content: "\e012"; }
nav > a[href="/buffer"]::before { content: "\e013"; }
nav > a[href="/chrome"]::before { content: "\e014"; }
nav > a[href="/coderwall"]::before { content: "\e015"; }
nav > a[href="/curse"]::before { content: "\e016"; }
nav > a[href="/dailymotion"]::before { content: "\e017"; }
nav > a[href="/deezer"]::before { content: "\e018"; }
nav > a[href="/delicious"]::before { content: "\e019"; }
nav > a[href="/deviantart"]::before { content: "\e01a"; }
nav > a[href="/diablo"]::before { content: "\e01b"; }
nav > a[href="/digg"]::before { content: "\e01c"; }
nav > a[href="/discord"]::before { content: "\e01d"; }
nav > a[href="/disqus"]::before { content: "\e01e"; }
nav > a[href="/douban"]::before { content: "\e01f"; }
nav > a[href="/draugiem"]::before { content: "\e020"; }
nav > a[href="/dribbble"]::before { content: "\e021"; }
nav > a[href="/drupal"]::before { content: "\e022"; }
nav > a[href="/ebay"]::before { content: "\e023"; }
nav > a[href="/ello"]::before { content: "\e024"; }
nav > a[href="/endomodo"]::before { content: "\e025"; }
nav > a[href="/envato"]::before { content: "\e026"; }
nav > a[href="/etsy"]::before { content: "\e027"; }
nav > a[href="/facebook"]::before { content: "\e028"; }
nav > a[href="/feedburner"]::before { content: "\e029"; }
nav > a[href="/filmweb"]::before { content: "\e02a"; }
nav > a[href="/firefox"]::before { content: "\e02b"; }
nav > a[href="/flattr"]::before { content: "\e02c"; }
nav > a[href="/flickr"]::before { content: "\e02d"; }
nav > a[href="/formulr"]::before { content: "\e02e"; }
nav > a[href="/forrst"]::before { content: "\e02f"; }
nav > a[href="/foursquare"]::before { content: "\e030"; }
nav > a[href="/friendfeed"]::before { content: "\e031"; }
nav > a[href="/github"]::before { content: "\e032"; }
nav > a[href="/goodreads"]::before { content: "\e033"; }
nav > a[href="/google"]::before { content: "\e034"; }
nav > a[href="/googlescholar"]::before { content: "\e035"; }
nav > a[href="/googlegroups"]::before { content: "\e036"; }
nav > a[href="/googlephotos"]::before { content: "\e037"; }
nav > a[href="/googleplus"]::before { content: "\e038"; }
nav > a[href="/grooveshark"]::before { content: "\e039"; }
nav > a[href="/hackerrank"]::before { content: "\e03a"; }
nav > a[href="/hearthstone"]::before { content: "\e03b"; }
nav > a[href="/hellocoton"]::before { content: "\e03c"; }
nav > a[href="/heroes"]::before { content: "\e03d"; }
nav > a[href="/smashcast"]::before { content: "\e03e"; }
nav > a[href="/horde"]::before { content: "\e03f"; }
nav > a[href="/houzz"]::before { content: "\e040"; }
nav > a[href="/icq"]::before { content: "\e041"; }
nav > a[href="/identica"]::before { content: "\e042"; }
nav > a[href="/imdb"]::before { content: "\e043"; }
nav > a[href="/instagram"]::before { content: "\e044"; }
nav > a[href="/issuu"]::before { content: "\e045"; }
nav > a[href="/istock"]::before { content: "\e046"; }
nav > a[href="/itunes"]::before { content: "\e047"; }
nav > a[href="/keybase"]::before { content: "\e048"; }
nav > a[href="/lanyrd"]::before { content: "\e049"; }
nav > a[href="/lastfm"]::before { content: "\e04a"; }
nav > a[href="/line"]::before { content: "\e04b"; }
nav > a[href="/linkedin"]::before { content: "\e04c"; }
nav > a[href="/livejournal"]::before { content: "\e04d"; }
nav > a[href="/lyft"]::before { content: "\e04e"; }
nav > a[href="/macos"]::before { content: "\e04f"; }
nav > a[href="/mail"]::before { content: "\e050"; }
nav > a[href="/medium"]::before { content: "\e051"; }
nav > a[href="/meetup"]::before { content: "\e052"; }
nav > a[href="/mixcloud"]::before { content: "\e053"; }
nav > a[href="/modelmayhem"]::before { content: "\e054"; }
nav > a[href="/mumble"]::before { content: "\e055"; }
nav > a[href="/myspace"]::before { content: "\e056"; }
nav > a[href="/newsvine"]::before { content: "\e057"; }
nav > a[href="/nintendo"]::before { content: "\e058"; }
nav > a[href="/npm"]::before { content: "\e059"; }
nav > a[href="/odnoklassniki"]::before { content: "\e05a"; }
nav > a[href="/openid"]::before { content: "\e05b"; }
nav > a[href="/opera"]::before { content: "\e05c"; }
nav > a[href="/outlook"]::before { content: "\e05d"; }
nav > a[href="/overwatch"]::before { content: "\e05e"; }
nav > a[href="/patreon"]::before { content: "\e05f"; }
nav > a[href="/paypal"]::before { content: "\e060"; }
nav > a[href="/periscope"]::before { content: "\e061"; }
nav > a[href="/persona"]::before { content: "\e062"; }
nav > a[href="/pinterest"]::before { content: "\e063"; }
nav > a[href="/play"]::before { content: "\e064"; }
nav > a[href="/player"]::before { content: "\e065"; }
nav > a[href="/playstation"]::before { content: "\e066"; }
nav > a[href="/pocket"]::before { content: "\e067"; }
nav > a[href="/qq"]::before { content: "\e068"; }
nav > a[href="/quora"]::before { content: "\e069"; }
nav > a[href="/raidcall"]::before { content: "\e06a"; }
nav > a[href="/ravelry"]::before { content: "\e06b"; }
nav > a[href="/reddit"]::before { content: "\e06c"; }
nav > a[href="/renren"]::before { content: "\e06d"; }
nav > a[href="/researchgate"]::before { content: "\e06e"; }
nav > a[href="/residentadvisor"]::before { content: "\e06f"; }
nav > a[href="/reverbnation"]::before { content: "\e070"; }
nav > a[href="/rss"]::before { content: "\e071"; }
nav > a[href="/sharethis"]::before { content: "\e072"; }
nav > a[href="/skype"]::before { content: "\e073"; }
nav > a[href="/slideshare"]::before { content: "\e074"; }
nav > a[href="/smugmug"]::before { content: "\e075"; }
nav > a[href="/snapchat"]::before { content: "\e076"; }
nav > a[href="/songkick"]::before { content: "\e077"; }
nav > a[href="/soundcloud"]::before { content: "\e078"; }
nav > a[href="/spotify"]::before { content: "\e079"; }
nav > a[href="/stackexchange"]::before { content: "\e07a"; }
nav > a[href="/stackoverflow"]::before { content: "\e07b"; }
nav > a[href="/starcraft"]::before { content: "\e07c"; }
nav > a[href="/stayfriends"]::before { content: "\e07d"; }
nav > a[href="/steam"]::before { content: "\e07e"; }
nav > a[href="/storehouse"]::before { content: "\e07f"; }
nav > a[href="/strava"]::before { content: "\e080"; }
nav > a[href="/streamjar"]::before { content: "\e081"; }
nav > a[href="/stumbleupon"]::before { content: "\e082"; }
nav > a[href="/swarm"]::before { content: "\e083"; }
nav > a[href="/teamspeak"]::before { content: "\e084"; }
nav > a[href="/teamviewer"]::before { content: "\e085"; }
nav > a[href="/technorati"]::before { content: "\e086"; }
nav > a[href="/telegram"]::before { content: "\e087"; }
nav > a[href="/tripadvisor"]::before { content: "\e088"; }
nav > a[href="/tripit"]::before { content: "\e089"; }
nav > a[href="/triplej"]::before { content: "\e08a"; }
nav > a[href="/tumblr"]::before { content: "\e08b"; }
nav > a[href="/twitch"]::before { content: "\e08c"; }
nav > a[href="/twitter"]::before { content: "\e08d"; }
nav > a[href="/uber"]::before { content: "\e08e"; }
nav > a[href="/ventrilo"]::before { content: "\e08f"; }
nav > a[href="/viadeo"]::before { content: "\e090"; }
nav > a[href="/viber"]::before { content: "\e091"; }
nav > a[href="/viewbug"]::before { content: "\e092"; }
nav > a[href="/vimeo"]::before { content: "\e093"; }
nav > a[href="/vine"]::before { content: "\e094"; }
nav > a[href="/vkontakte"]::before { content: "\e095"; }
nav > a[href="/warcraft"]::before { content: "\e096"; }
nav > a[href="/wechat"]::before { content: "\e097"; }
nav > a[href="/weibo"]::before { content: "\e098"; }
nav > a[href="/whatsapp"]::before { content: "\e099"; }
nav > a[href="/wikipedia"]::before { content: "\e09a"; }
nav > a[href="/windows"]::before { content: "\e09b"; }
nav > a[href="/wordpress"]::before { content: "\e09c"; }
nav > a[href="/wykop"]::before { content: "\e09d"; }
nav > a[href="/xbox"]::before { content: "\e09e"; }
nav > a[href="/xing"]::before { content: "\e09f"; }
nav > a[href="/yahoo"]::before { content: "\e0a0"; }
nav > a[href="/yammer"]::before { content: "\e0a1"; }
nav > a[href="/yandex"]::before { content: "\e0a2"; }
nav > a[href="/yelp"]::before { content: "\e0a3"; }
nav > a[href="/younow"]::before { content: "\e0a4"; }
nav > a[href="/youtube"]::before { content: "\e0a5"; }
nav > a[href="/zapier"]::before { content: "\e0a6"; }
nav > a[href="/zerply"]::before { content: "\e0a7"; }
nav > a[href="/zomato"]::before { content: "\e0a8"; }
nav > a[href="/zynga"]::before { content: "\e0a9"; }