@font-face {
	font-family: tumblr-icons;
	font-style: normal;
	font-weight: normal;
	src:
		url("https://assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_1a292352282f4fc706b9015c01cab89b.eot?v=255d51561b94b41f519bec1057040385#iefix") format("embedded-opentype"),
		url("https://assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_1a292352282f4fc706b9015c01cab89b.woff2?v=437de2a7666024f9a48f8fe7e703fd74") format("woff2"),
		url("https://assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_1a292352282f4fc706b9015c01cab89b.woff?v=79e9acb0cd8e91854b0f0520501ecd6f") format("woff"),
		url("https://assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_1a292352282f4fc706b9015c01cab89b.ttf?v=9b36135a7b59c72e0fe7118ab69259b8") format("truetype"),
		url("https://assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_1a292352282f4fc706b9015c01cab89b.svg?v=9fab8e7811a16a260fcf8b3770762df8#tumblr-icons") format("svg");
}
body {
	font-size: 14px;
}
a {
	text-decoration: none;
}
pre {
	overflow: scroll;
}
blockquote {
	border-left: 3px solid;
	padding-left: 1em;
	margin: 1em 0;
}
blockquote img {
	height: auto;
}
#sidebar {
	position: fixed;
	width: 270px;
	text-align: center;
	border-radius: 3px;
}
#search {
	position: absolute;
	top: 15px;
	height: 1.4em;
	padding: 0 9px;
	width: 249px;
}
#search::before {
	content: "\EA99\2002";
	font-family: tumblr-icons, None;
}
#search input {
	background: none;
	border: none;
	width: calc(100% - 2em);
}
#search input:focus {
	outline: none;
}
#headerlink {
	position: absolute;
	left: 0;
	width: 100%;
}
#avatar.circle {
	border-radius: 64px;
}
#avatar.square {
	border-radius: 6px;
}
#blogtitle {
	font-size: 20px;
	margin: 0 10px;
}
#description {
	margin: 5px 10px 0;
	word-wrap: break-word;
	font-size: 12px;
}
#description p {
	margin: 0;
}
nav {
	margin: 1em 10px;
}
nav a {
	font-weight: bold;
	margin: 0 0.3em;
	display: inline-block;
	max-width: 240px;
	word-wrap: break-word;
}
#widget {
	position: absolute;
	max-width: 280px;
	margin: 10px -5px 0;
	overflow-x: hidden;
}
main {
	min-width: 250px;
	position: relative;
	width: 560px;
	margin: 0 auto;
}
article {
	word-wrap: break-word;
	padding: 15px;
	margin: 15px;
	border-radius: 3px;
}
article header {
	margin-bottom: 1em;
}
article header a {
	white-space: nowrap;
}
.reblog-icon::before {
	content: "\EA92";
	font-family: tumblr-icons, None;
	font-size: 1.35714286em; 
	line-height: 0.736842105em;
	position: relative;
	top: 0.105263158em;
}
.published::before {
	content: "submitted by";
}
.sourcelogo {
	display: inline-block;
	float: right;
	margin: 0 0 0 1em;
}
p.datetime {
	font-size: 0.857142857em;
	margin: 0.416666667em 0;
}
img, iframe, figure {
	max-width: 100%;
}
.tmblr-lightbox .lightbox-image {
	max-width: none;
}
a.tumblr_blog {
	text-decoration: underline;
}
.tmblr-attribution {
	margin-top: 0;
}
article footer, section.controls {
	margin-top: 1em;
}
section.tags a.tag {
	margin-right: 0.5em;
	font-weight: normal;
}
section.tags a.tag::before {
	content: "#";
}
#notes {
	width: 500px;
	max-height: 700px;
	margin-top: 1em;
	overflow-x: hidden;
	overflow-y: auto;
}
ol.notes {
	display: flex;
	flex-direction: column-reverse;
	padding: 0; margin: 0;
	list-style-type: none;
}
li.note {
	flex: none;
	padding: 5px 0;
}
li.note:not(.more_notes_link_container) {
	max-width: 465px;
}
li.note blockquote a {
	font-weight: normal;
	color: inherit;
}
li.note .avatar_frame {
	display: inline-block;
	width: 16px;
	position: relative;
	top: 3px;
	margin-right: 10px;
}
li.note .avatar {
	border-radius: 2px;
}
li.note blockquote,
li.note .answer_content {
	margin: 10px 31px 5px;
}
li.note .answer_content {
	display: block;
	padding-left: 1em;
}
li.note .retags {
	margin-left: 26px;
}
.controls .like_button, 
.controls .reblog_button {
	float: right;
	margin-left: 12px;
}
.controls .like_button iframe,
.controls .reblog_button svg {
	opacity: 0.000000001;
	z-index: 1;
}
.controls .like_button::before, 
.controls .reblog_button::before {
	font-family: tumblr-icons, None;
	font-size: 24px;
	font-weight: normal;
	position: absolute;
	margin: -5px 0 0 -3px;
}
.controls .reblog_button::before {
	content: "\EA8F";
}
.controls .like_button::before {
	content: "\EA4E";
}
.controls .like_button.liked::before {
	content: "\EA4F";
	color: #d95e40;
}
#credit {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
img.photopost,
img.panorama,
img.linkimage {
	width: 100%;
}
p.exif,
p.plays {
	font-size: 0.857142857em;
	margin: 0;
	text-align: center;
}
h2 {
	font-size: 1.28571429em;
}
h2.short {
	font-size: 3.42857143em;
	margin: 0.3125em 0;
}
h2.medium {
	font-size: 2.57142857em;
	margin: 0.416666667em 0;
}
h2.long {
	font-weight: normal;
	margin: 0.625em 0;
}
h2.quote::before {
	content: "\201C";
}
h2.quote::after {
	content: "\201D";
}
a.link {
	display: block;
}
a.link blockquote {
	font-weight: normal;
}
span.linktitle {
	margin-right: 1em;
}
span.linkhost {
	display: inline-block;
}
iframe.tumblr_audio_player {
	max-height: 85px;
}
a.asker, a.answerer {
	font-weight: bold;
	text-decoration: none;
}
div.answertub {
	margin: 1em 0;
}
div.answerbox p {
	margin: 0;
}
div.answerbox img,
div.answerbox iframe {
	height: auto;
}
p.separator {
	line-height: 0.5em;
}
div.answerbox {
	display: block;
	border-radius: 5px;
	padding: 14px;
	margin-right: 70px;
}
img.askicon {
	float: right;
	border-radius: 3px;
}
#pagination {
	text-align: center;
}
#prevpage, #nextpage, #pageno {
	display: inline-block;
	margin: 0 15px;
	font-weight: bold;
	border-radius: 3px;
}
#prevpage {
	opacity: 0;
	float: left;
}
#nextpage {
	opacity: 0;
	float: right;
}
a #prevpage {
	opacity: 1;
}
a #nextpage {
	opacity: 1;
}
