#blog-card {
  margin-top: 0;
}

#blog-card, article {
  border-radius: 0;
}

#pagination {
  padding: 0 var(--post-padding);
}

.post-author-portrait:not([hidden]) {
  display: unset;
}

.post-attribution {
  flex-direction: column;
}

.reblog-parent-name {
  margin-left: -5px;
}
