article {
	color: black;
	background-color: white;
}
article a {
	color: black;
	text-decoration: underline;
}
.npf-link-block a,
.user a {
	text-decoration: none;
}
article header a,
article footer a,
.reblog-icon,
.like_button,
.reblog_button {
	color: #a7a7a7;
	font-weight: bold;
	text-decoration: none;
}
.timestamp a {
	color: black;
	font-weight: normal;
	text-decoration: underline;
}
li.note a {
	color: black;
}
blockquote,
li.note .answer_content,
section.body .reblog + .reblog {
	border-color: rgba(0,0,0,0.1);
}
.ask-item > div {
	background: rgba(0,0,0,0.1);
}